body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
h1, h2, h3, h4, h5, div, span, p {
  font-family: 'Ubuntu Mono', monospace;
  color: #fff;
}

.heading {
  color: #fff;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 570px !important;
  }
}